{% extends 'base.html' %}

{% block head %}
<title>Login - TeoGebra</title>
{% endblock %}

{% block body %}
<div class="pagina-formular" >
    <h1 class="logo-app playwrite-nz-guides-regular">TeoGebra</h1>
    <div class="card-formular">
    <h2 class="titlu-formular">Autentificare</h2>

    {% if mesaj %}
        <p class="mesaj-succes">{{ mesaj }}</p>
    {% endif %}
    {% if eroare %}
        <p class="mesaj-eroare">{{ eroare }}</p>
    {% endif %}

    <form action="/login" method="POST">
        <div class="camp">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="camp">
            <label for="password">Parolă:</label><br>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit" class="btn-principal">Intră în cont</button>
    </form>

    <p class="link-formular">
        Nu ai cont? <a href="/signup">Creează unul acum</a>.
    </p>

    <p class="link-formular"><a href="/am_uitat_parola">Am uitat parola</a></p>

    </div>
</div>
{% endblock %}