{% extends 'base.html' %}

{% block head %}
<title>Creează un cont - TeoGebra</title>
<script src="{{ url_for('static', filename='js/categorii.js') }}"></script>
{% endblock %}

{% block body %}
<div class="pagina-formular">
    <h1 class="logo-app playwrite-nz-guides-regular">TeoGebra</h1>
    <h2>Made with GeoGebra®</h2>
    <div class="card-formular card-formular--lat">
        <h2 class="titlu-formular">Creează un cont</h2>

        {% if eroare %}
            <p class="mesaj-eroare">{{ eroare }}</p>
        {% endif %}

        <form action="/signup" method="POST" style="display: flex; flex-direction: column; gap: 15px;">
            <div class="camp">
                <label for="username">Nume de utilizator:</label><br>
                <input type="text" id="username" name="username" required>
            </div>
            
            <div class="camp">
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="camp">
                <label for="password">Parolă:</label><br>
                <input type="password" id="password" name="password" required minlength="8">
            </div>

            <div class="camp">
                <label for="password_confirm">Confirma Parola:</label><br>
                <input type="password" id="password_confirm" name="password_confirm" required minlength="8">
            </div>

            <div class="camp">
                <label for="prenume">Prenume:</label>
                <input type="text" id="prenume" name="prenume">
            </div>

            <div class="camp">
                <label for="nume_familie">Nume de familie(opțional):</label>
                <input type="text" id="nume_familie" name="nume_familie">
            </div>

            <div class="camp">
                <label for="clasa">Clasa curentă (opțional):</label>
                <select id="clasa" name="clasa">
                    <option value="">-- Nu specific --</option>
                    
                </select>
            </div>

            {% if eroare %}
                <p class="eroare">{{ eroare }}</p>
            {% endif %}

            <button type="submit" class="btn-principal">Creează contul</button>
        </form>

        <p class="link-formular">
            Ai deja cont? <a href="/login">Loghează-te aici</a>.
        </p>
    </div>

</div>
{% endblock %}